.country-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 300px;
    border: 1px solid black;
}

.country-flag {
    border: 1px solid red;
}

.img-flag {
    max-width: 100%;
    max-height: 100%;
    height: 220px;
    object-fit: contain;
}
.img-flag:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.country-description {
    padding: 10px;
}

.country-title {
    padding: 10px;
    font-weight: 600;
}

.country-detail {
    font-weight: 400;
}
