.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 80%;
}
.header-title {
    margin-right: 5px;
    font-size: 1.2rem;
    font-weight: 800;
}

.dark-mode-btn-icon {
    width: 25px;
    background-color: transparent;
    border: none;
}

.light-mode-icon {
    fill: white;
}

.btn-color {
    color: var(--theme-text-color);
}

.btn-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: lighter;
}
