:root {
    --theme-element-color: hsl(0deg, 0%, 100%);
    --theme-bg-color: hsl(0deg, 0%, 98%);
    --theme-text-color: hsl(200deg, 15%, 8%);
    --theme-input-color: hsl(0deg, 0%, 52%);
}

.dark-mode {
    --theme-element-color: hsl(209deg, 23%, 22%);
    --theme-bg-color: hsl(207deg, 26%, 17%);
    --theme-text-color: hsl(0deg, 0%, 100%);
    --theme-input-color: hsl(0deg, 0%, 52%);
}

.app {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
    transition: background-color 0.3s ease;
}

.app-dark-mode {
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
    transition: background-color 0.3s ease;
}

.country-card {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
    justify-self: center; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    padding: 5px;
    width: 90%;
}

.margin-between-components {
    margin-bottom: 2.5rem;
}
.div80 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--theme-element-color);
    box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.div90 {
    width: 100%;
    display: flex;
    justify-content: center;
}
